.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-wrapper {
  position: sticky;
  top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  z-index: 1;
}

.game-wrapper-left {
  align-self: flex-start;
  margin-left: 2rem;
}

.game-wrapper-right {
  align-self: flex-end;
  margin-right: 2rem;
}

.board-wrapper-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-wrapper-inner {
  display: flex;
  align-items: center;
}

.board {
  position: relative;
  display: grid;
  gap: 0.5rem;
  background-color: olive;
  z-index: 3;
}

.shrink-board {
  gap: 0.6667rem;
}

.shrink-board::after {
  justify-self: center;
  color: darkcyan;
  content: attr(data-bg-text);
  font-size: 1.8rem;
  font: bolder;
  text-align: center;
  position: absolute;
  z-index: -1;
}

.pushable-lhs {
  display: flex;
  background: hsl(340deg 100% 32%);
  width: 1rem;
  height: 3rem;
  border-radius: 1rem 0 0 1rem;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transform: translateY(4px);
}

.front-lhs {
  display: block;
  background: hsl(345deg 100% 47%);
  width: 1rem;
  height: 3rem;
  border: 1px solid;
  border-radius: 1rem 0 0 1rem;
  font-size: 2rem;
  color: #000;
  transform: translateY(-6px);
}

.pushable-lhs:active .front-lhs {
  transform: translateY(-2px);
}

.pushable-lhs:hover .front-lhs {
  background: yellow;
}

.pushable-rhs {
  background: hsl(340deg 100% 32%);
  width: 1rem;
  height: 3rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transform: translateY(4px);
}

.front-rhs {
  display: block;
  background: hsl(345deg 100% 47%);
  width: 1rem;
  height: 3rem;
  border: 1px solid;
  border-radius: 0 1rem 1rem 0;
  font-size: 2rem;
  font-stretch: condensed;
  color: #000;
  transform: translateY(-6px);
}

.hide-side-btns {
  display: none;
}

.hide-left-btn {
  visibility: hidden;
}

.hide-right-btn {
  visibility: hidden;
}

.pushable-rhs:active .front-rhs {
  transform: translateY(-2px);
}

.pushable-rhs:hover .front-rhs {
  background: yellow;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  width: 4rem;
  height: 3rem;
  border-radius: 0 0 1rem 1rem;
  /* transform: translate(0.125rem, -1.25rem) rotate(90deg); */
  z-index: 2;
}

.pushable:active .front {
  transform: translateY(-2px);
}

.pushable-hide {
  display: none;
}

.front {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: hsl(345deg 100% 47%);
  border: 1px solid;
  width: 4rem;
  height: 3rem;
  border-radius: 0 0 1rem 1rem;
  transform: translate(-6px, -6px);
}

.front-dbl-arrow {
  display: flex;
  font-size: 2rem;
  color: #000;
  padding-bottom: 0.6rem;
  transform: rotate(90deg);
}

.game-title-state-wrapper {
  align-self: center;
  justify-content: space-evenly;
  display: flex;
  width: 80%;
  max-width: 23rem;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid lightgray;
}

.game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: underline;
}

.game-state-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

.control-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.button {
  width: 90px;
  background-color: #4f58df;
  border: 1;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
}

.button:hover {
  background-color: #16437e;
  color: #ffffff;
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-weight: 500;
}

.loading-state:after {
  clip-path: inset(0 3ch 0 0);
  animation: x steps(4, end) 450ms infinite;
  content: '\2026';
}

@keyframes x {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.loading-result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

.error-message {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loading-message {
  width: 100%;
  display: flex;
  justify-content: center;
}

.toast-container {
  width: max-content !important;
}

.toast-wrapper {
  width: max-content;
}

.chat-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}

.chat-wrapper-right {
  align-self: flex-end;
  margin-right: 2rem;
}

.chat-wrapper-left {
  align-self: flex-start;
  margin-left: 2rem;
}
