.header {
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #4f58df;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
}

.link {
  height: min-content;
  background-color: transparent;
  border: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 2.5rem;
  text-decoration: none;
}

.link:hover {
  color: lightgreen;
}

.actions {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.action {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.action:hover {
  color: yellow;
}

.username {
  background-color: transparent;
  text-transform: none;
  border: none;
  color: yellow;
  font-size: 1rem;
  font-weight: 700;
  cursor: default;
}

.actions-user-detail {
  max-width: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}
