.header {
  position: fixed;
  z-index: 2;
  font-size: 2.5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #4f58df;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
}

.link {
  height: min-content;
  background-color: transparent;
  border: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 2.5rem;
  text-decoration: none;
}

.link:hover {
  color: lightgreen;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.action {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.action:hover {
  color: yellow;
}

.username {
  display: flex;
  width: 100%;
  background-color: transparent;
  text-transform: none;
  border: none;
  color: yellow;
  font-size: 1rem;
  font-weight: 700;
  cursor: default;
  justify-content: center;
  column-gap: 0.5rem;
}

.actions-user-detail {
  max-width: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.black {
  color: black;
}

.white {
  color: white;
}

.title-and-oapi-docs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-screens {
  display: none;
  @media (min-width: 720px) {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    /* margin: auto; */
  }
}

.small-screens {
  @media (min-width: 720px) {
    display: none;
  }
}

.anchor {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: #d69e2e;
  border: 1;
  padding: 2px;
  border-radius: 0.3rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  text-transform: none;
  font-weight: 600;
  align-content: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
}

.anchor:hover {
  color: #222;
}
